body {
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
  background-color: #f6f6f6;
  color: #545862;
}

#todo-list-section {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 52px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#list-header-container {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#add-item-container > img {
  width: 15px;
  padding: 16px;
  cursor: pointer;
  opacity: 0.6;
}

#list-header-container > div > img {
  width: 15px;
  padding: 16px;
  cursor: pointer;
  opacity: 0.6;
}

#add-item-container > img:hover {
  opacity: 1;
}

#list-header-container > div > img:hover {
  width: 15px;
  padding: 16px;
  cursor: pointer;
  opacity: 1;
}

#add-item-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#add-item {
  outline: none;
  border: none;
  padding-left: 16px;
  font-style: italic;
  font-size: 16px;
  width: 100%;
}

#add-item::placeholder {
  line-height: 20px;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.delete-icon {
  height: 25px;
  padding-right: 16px;
  cursor: pointer;
  opacity: 0.6;
  margin-left: auto;
}

.task-drag-icon {
  height: 15px;
  padding-right: 16px;
  cursor: move;
  opacity: 0.6;
  margin-left: auto;
}

.delete-icon:hover {
  opacity: 1;
}

.task-drag-icon:hover {
  opacity: 1;
}

.todo-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.todo-list-item > p {
  padding-left: 16px;
  margin: 0;
}

input[type="checkbox" i] {
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  padding: initial;
  width: 15px;
  height: 15px;
  border: 2px solid #c1c1c3;
}

input:checked {
  background-image: url(./images/tick-icon.svg);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  border: none;
}

#button-container {
  align-self: center;
  display: flex;
  height: 54px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.task-description {
  line-height: 20px;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 300;
  border: 0;
  outline: 0;
  width: 400px;
  padding-left: 16px;
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
}

#clear-completed {
  font-size: 16px;
  border: none;
  opacity: 0.5;
  width: fit-content;
  height: min-content;
  color: #545862;
  background-color: #f6f6f6;
}

#clear-completed:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}
